*
{
  margin: 0;
  padding: 0;
  font-family: 'Offside','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
body{
  overflow: hidden;
  transition: 1.5s !important;
  background: #000000da;
  background-image: url("images/niebla.png");
  width: 100%;
  color: yellow;
}
.header {
    position: fixed;
    top: 0;
    left: 0px;
    width: 100%;
    padding: 10px 10%;
    background-color: #070000a2;
    color: yellow;
    display:flex;
    justify-content: left;
    align-items: center;
    z-index: 100;
  }
  
  .logo img{
    position: relative;
    opacity: 100%.0;
    width: 75px;
    height: 60px;
    animation: slide-in 1s forwards;
    transition: transform 0.3s ease;
  }
  
  .logo:hover {
    transform: rotate(5deg);
  }
  .navbar a {
    font-size: 20px;
    justify-content: left;
    color: #fbff00bb;
    text-decoration: none;
    font-weight: 500;
    margin-left: 25px;
    transition: 0.5s;
    display: inline-flex;
    flex-wrap: nowrap;
  }
  
  .navbar a:hover,
  .navbar a.active {
  background: rgba(255, 0, 0, 0.432);
  }
section
{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px;
}
section img
{
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    width: 75px;
    height: 75px;  
    object-fit: fill;
    opacity: calc(45%);
}


.home {
    height: 100vh;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 2 20%;
  }
  
  .home-content {
    max-width: 600px;
    margin-bottom: 40px;
    margin-left: 200px;
    justify-content: left;
  }
  
  .home-content h1 {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
  }
  
  .home-content h3 {
    font-size: 32px;
    font-weight: 700;
    color: rgb(252, 172, 0);
  }
  
  .home-content p {
    font-size: 16px;
    margin: 20px 0 40px;
  }
  
  .home-content .btn-box {
      display: flex;
      justify-content: space-between;
      width: 345px;
      height: 50px;
      margin-left: -51%;
  }
  
.btn-box a {
      position: relative;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 150px;
      height: 100%;
      border: 4px solid rgb(255, 208, 0);
      box-shadow: 40px 0px 50px rgba(255, 255, 0, 0.336), -40px 0px 50px rgba(255, 255, 0, 0.452), 0px -40px 50px rgba(255, 255, 0, 0.411), 0px 40px 50px rgba(255, 255, 0, 0.37);
      border-radius: 8px;
      font-size: 19px;
      color: rgba(238, 255, 0, 0.753);
      text-decoration: none;
      font-weight: 600;
      letter-spacing: 1px;
      z-index: 100;
      overflow: hidden;
      transition: 1.5s;
  }
  
  .btn-box a:nth-child(2) {
    background: transparent;
    color: rgba(229, 255, 0, 0.699);
  }
  
.btn-box a:nth-child(2)::before {
      color: bisque;
  }
  
.btn-box a::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 100%;
      background: rgb(255, 115, 0);
      z-index: -1;
      transition: 0.4s;
  }
    
    .btn-box a:hover::before {
      width: 100%;
    }
  
  
  .animate-from-right {
      position: relative;
      left: 150%; 
      animation: slide-in 1s forwards; 
    }
    
    @keyframes slide-in {
0% {
        left: 150%; 
}
100% {
        left: -50%; 
}
    }
    .home-content h1 {
      animation-delay: 0.2s; 
    }
    
    .home-content h2 {
      animation-delay: 0.2s; 
    }
    
    .home-content h3 {
      animation-delay: 0.4s; 
    }
    
    .home-content p {
      animation-delay: 0.6s; 
    }

.fotocontacto {
  margin-right: 0%;
  margin-bottom: -10%;
  }

.fotocontacto img {
  
  opacity: 100%;
  width: 975px;
  height: 750px;
}

.contactfoto  {
  grid-auto-rows: auto;
  margin-left: 45%;
  z-index:auto;
    }

.contactfoto img {
  margin-left: 40px;
  opacity: 100%;
  width: 50px;
  height: 50px;
}

.contactfoto1 {
  
  display: inline-block;
  position: relative;
  transition: transform 0.3s ease;
}

.contactfoto1:hover {
  transform: rotate(20deg);
}
    @media screen and (max-width: 768px) {

      * {
        display: sticky;
      }
      .fotocontacto {
        display: none;
      }
      .contactfoto {
        display: block;
        }
      .navbar a {
        display: 23%;
        margin-bottom: 10px;
        margin-top: -10%;
        padding: 10px 10%;
      }

      .home-content {
        margin-left: 50%;
        margin-top: 150%;
      }
      
      .btn-box {
        align-items: center;
        margin-left: 0;
        padding-bottom: 20%;
      }
      
      .btn-box a {
        width: 100%;
        margin-bottom: 50px;
      }
    }
